  <div class="col-sm-6">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <p class="clearfix"></p>
  <div class="col-sm-8">
    <div class="col-sm-6" ng-repeat="obj in thumbnailsData">
      <img ng-src="{{obj.imgurl}}" class="img-responsive"/>
      <div class="col-sm-6 text-muted"><i class="glyphicon glyphicon-edit"></i> <span data-ng-bind="obj.date"></span></div>
      <div class="col-sm-6 text-muted text-right"><i class="glyphicon glyphicon-edit"></i> <span data-ng-bind="obj.views"></span><i class="glyphicon glyphicon-edit"></i> <span data-ng-bind="obj.comments"></span></div>
    </div>
  </div>
  <div class="col-sm-4"></div>