.main{
	background: #EDEDED;
}
.row1
{
	
	color:white;
}
.header{
	background:#2E5CB8;
}
.footer{
	background:#2E5CB8;
	line-height:3;

}
.btn1
{
	border:1px solid #829DD4;
	color:white;
	background: #829DD4;
	border-radius: 6px;
	padding: 4px 4px;
}
.c1{
	line-height: 1;
	color:white;
}
.list{
	list-style: none;
	background: #FFFFE0;
	border-radius: 4px
}
.li{
	border: 1px solid black;
	padding-left: 10px;
  margin: 5px;
  border-radius: 4px;
  color:white;
  background: #829DD4;
  padding: 3px;
 
}
.ls{

	margin-right:10px;
	border:1px #829DD4;
	border-radius: 6px;
}

.heading{

	background:#FFFFB2;
	border-radius: 6px;
}
	
.p1{
	border:1px solid #FFFFDB;
	border-radius: 6px;
}
.p2{
	border:1px solid #FFFFDB;
	border-radius: 6px;
}
.textpart{
	border:3px solid #D1E0E0;
	border-radius: 4px;

}