<!doctype html>
<hyml>
<head>
<title>bootfinalform</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<style type="text/css">
  .c1,.c2,.c3,.a1,.a2,.a3,.b1,.b2,.b3{
    position: relative;
    bottom:  2px
  }
</style>
</style>
</head>
<body>
 <div class="container">
 	 <form class="col-sm-offset-3 col-sm-6 bg-info form-horizontal" style="border:1px solid green">  
    <h4>Step1: Your details</h4>


 <div class="form-control col-sm-12"><div class="col-sm-3">Name</div>
            <div class="col-sm-9"><input type="text" placeholder="First and last name" class="a1"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Email</div>
            <div class="col-sm-9"><input type="text" placeholder="example@domain.com" class="a2"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Phone</div>
            <div class=" col-sm-9"><input type="text" placeholder="Eg: +17852143209" class="a3"></div>    
</div>
<p class="clearfix"></p>
   <p class="clearfix"></p>


<h4>Step2: Delivery address</h4>


 <div class="form-control col-sm-12"><div class="col-sm-3">Address</div>
            <div class="col-sm-9"><input type="address" class="b1"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Post code</div>
            <div class="col-sm-9"><input type="text" class="b2"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Country</div>
            <div class=" col-sm-9"><input type="text" class="b3"></div>    
</div>
<p class="clearfix"></p>
   <p class="clearfix"></p>

<h4>Step3: Card details</h4>
<div class="form-control com-sm-12"><div class="col-sm-3">card type</div><div class="col-sm-3"></div>
<div class="col-sm-9"><input type="radio"><img src="../images/cc visa.jpg"/height="15px" width="40px">Visa
              <input type="radio"><img src="../images/download.jpg"/height="20px" width="40px">AMEX
              <input type="radio"><img src="../images/MasterCard_early_1990s_logo.png"/height="20px" width="40px">Mastercard</div></div>





 <div class="form-control col-sm-12"><div class="col-sm-3">Card number</div>
            <div class="col-sm-9"><input type="text" class="c1"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Security code</div>
            <div class="col-sm-9"><input type="text" class="c2"></div>    
</div>



<div class="form-control col-sm-12"><div class="col-sm-3">Name on card</div>
            <div class=" col-sm-9"><input type="text" placeholder="Exact name on the card" class="c3"></div>    
</div>
<p class="clearfix"></p>
<div class="col-sm-offset-4 col-sm-3"><button style="background:#00ccfd">BUY IT!</button></div>


<p class="clearfix"></p>
  <p class="clearfix"></p>

  



 
</form>   </div>
 
</body>
</html> 