<!doctype html>
<html>
<head>
<title>finalform</title>
<style type="text/css">
	.a1,.a2,.a3,.b2,.b3,.c1,.c2,.c3,.c4,.b1{
		padding-left: 15px;
		padding-right: 80px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 7px;
		float: left;
		margin: 1px;
		margin-left: 20px
	}
	
	.form1{
		background: orange;
		height: 600px;
		width: 450px
	}
   .aa1,.aa3,.aa2{
   	    padding-right: 100px
   	    padding-lef:100px;
    }
   .fff,.ggg,.hhh{
    	float: left;

    }
    .add{
    	padding-bottom: 50px;
    }
    .final{
    	float: left;
    }
</style>
</head>
<body>
  <center> <form class="form1">
   
   <div class="fff">Step 1: Your details</div></br><br>
             <button class="a1">Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" placeholder="First and lastname" class="aa1" /></button>
             </br>
             <button class="a2">Email     &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" placeholder="example@domain.com "class="aa2"/></button>
             </br>
             <button class="a3">Phone&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;<input type="phone" placeholder="Eg: +17852143209" class="aa3" /></button></br></br></br>
   <div class="ggg">Step 2: Delivery address</div><br><br>
            <button class="b1">Address          &emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" class="add"></button>
              <button class="b2">Post code&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" class="bb2"></button>  </br>
             <button class="b3">Country&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" class="bb3"></button></br>
             
              </br>
   <div><p class="hhh">Step 3: Card details</p></div>
             <button class="c1"><div class="final">card type</div></br></br>
              <input type="radio"><img src="../images/cc visa.jpg"/height="15px" width="40px"> VISA
              <input type="radio"><img src="../images/download.jpg"/height="20px" width="40px">AMEX
              <input type="radio"><img src="../images/MasterCard_early_1990s_logo.png"/height="20px" width="40px">Master</button></br>
             <button class="c2">Card number     &emsp;&emsp;&emsp;&emsp;<input type="text" class="cc2"></button>
             <button class="c3">Security code  &emsp;&emsp;&emsp;&emsp;<input type="text" class="cc3"></button></br>
             <button class="c4"> Name on card&emsp;&emsp;&emsp;&emsp;<input type="text" placeholder="Exact name as on the card" class="cc4"></button></br></br></br></br></br></br></br>
             <center><button style="background:green" class="bot"><b>BUY IT!</b></button></center>
    </form></center>
</body>
</html>    