<!doctype html>
<html>
<head>
<title>javascript2</title>
</head>
<body>
      <!--<center><input type="button" value="print" onclick="window.print()"></center><br>
      <center><input type="button" value="new click options" onclick="fn()"></center>-->
     <div>username</div><input type="text" id="first">
     <div>password</div><input type="text" id="second">
     <input type="button" value="submit" onclick="fnsignin()">

      <script type="text/javascript">
         /*function fn()
              {
              	document.write('you clicked new click options button');
              }
         document.getElementById('myid').innerHtml="replaced text";
         var myjob={name:'reddy'};
         document.getElementById('myid').innerHtml=myjob.name;*/



            var f=document.getElementById('first').placeholder='fdfdg';
            var s=document.getElementById('second').value='12';


         function fnsignin()
         {

            var f=document.getElementById('first').placeholder='maheshreddy555';
            var s=document.getElementById('second').value='12';


         }

      </script>

</body>
</html>

