<!doctype html>
<html>
<head>
<title>javascrip1</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
    <script type="text/javascript">
        /* document.write('this is mahesh');
         var x='this is mahesh';
         document.write(x);
         var mystring="testing my javascript";
         document.write(mystring);
         var number;
         number=453;
         document.write(number);


         
         
         document.write(c);
        
        var d='do u want to continue this page';
          alert(d+" or not");*/

        /* var a=2;
         var b=3;
         var c=a+b;

         if (c==5) {
         	alert('this is 5');
         }
         else{
         	alert('this is not 5');
         }*/

        /* var a=10;
         var b=5;
         if (a>10 && b==6)
          {
         	alert('this is true')
         }
         else{
         	alert('this is false')
         }*/

      /* var a=10;
        var b=23;
        debugger;
        var c= (a>b) ? "alert('a')" : "alert('b')";*/


      /*var fg = new Date();
      alert(fg.getMonth()+1);
     var greeting="good"+ (fg.getMonth()>9) ? 'evening' : 'day';
     alert(greeting);*/

     /*var myjob={name:'mahesh', phone:'78339203092'}
     alert(myjob.name + myjob.phone)
      console.log(myjob.name);
      var myname=myjob['name'];
      console.log(myname);*/


      var myarray=[{name:'mahesh', phone:9320392039, email:'mahiejdd@hmail.com'},
                   {name:'mah', phone:90000000039, email:'d@hmail.com'},
                   {name:'mahi', phone:92222222239, email:'mdd@hmail.com'}];
        document.write(myarray[0].name);
     //console.log(myarray[0]);
    // console.log(myarray[0].phone);



    </script>


</body>
</html>