<!doctype html>
<hyml>
<head>
<title>member</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
 <div class="container">
 	 <form class="col-sm-offset-3 col-sm-6 bg-info form-horizontal" style="border:1px solid green">
 	 <p></p>
        
 <div>  <div class="col-sm-2"><img src="../images/default-avatar-member.png" height="40px"></div>   
        <div class="col-sm-10"  style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Username</label></div>       
       	<div class="col-sm-12">Letters and numbers only, 5 to 15 charecters</div>
        <div class="col-sm-12"><input type="text" class="form-control"></div>
 </div>
 <p class="clearfix"></p>
    
  <div><div class="col-sm-2"><img src="../images/email.png" height="40px"></div>    
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Email</label></div>    
       	<div class="col-sm-12">Valid email addresses please-we will send you an email to confirm your registration</div>
        <div class=" col-sm-12"><input type="text" class="form-control"></div>
  </div>
  <p class="clearfix"></p>

    <div><div class="col-sm-2"><img src="../images/password.jpg" height="40px"></div>   
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>password</label></div>       
       	<div class="col-sm-12">5 to 15 charecters</div>
        <div class=" col-sm-12"><input type="password" class="form-control"></div>
    </div>
  <p class="clearfix"></p>
   <p class="clearfix"></p>

   <div><div class="col-sm-2"><img src="../images/password.jpg" height="40px"></div>    
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Password(Again)</label></div>     
       	<div class="col-sm-12">same as above</div>
        <div class=" col-sm-12"><input type="password" class="form-control"></div>
   </div>
 <p class="clearfix"></p>
 <p class="clearfix"></p>
   <div><div class="col-sm-2"><img src="../images/country.jpg" height="40px"></div>    
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Country</label></div>     
       	<div class="col-sm-12">Where in the world are you?</div>
        <div class=" col-sm-12"><select>
	                                 <option>-------------</option>
	                                 <option>INDIA</option>
	                                 <option>USA</option>
                                </select></div>
   </div>
 <p class="clearfix"></p>
 <p class="clearfix"></p>
   <div><div class="col-sm-2"><img src="../images/GENDER.jpg" height="40px"></div>    
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Gender</label></div>     
       	<div class="col-sm-12">What in the world are you?</div>
        <div class=" col-sm-12"><input type="radio">Female&nbsp;&nbsp;<input type="radio">Male</div>
   </div>
 <p class="clearfix"></p>
  <p class="clearfix"></p>
   <div><div class="col-sm-2"><img src="../images/corrrect.jpg" height="40px"></div>    
        <div class="col-sm-10" style="border-left:1px solid red">
       	<div class="col-sm-12"><label>Agreement</label></div>     
       	<div class="col-sm-12">Please read and agree to the terms of this site</div>
        <div class=" col-sm-12"><input type="checkbox">I Agree</div>
   </div>
   <p class="clearfix"></p>
  <p class="clearfix"></p>
  <div class="col-sm-offset-9 col-sm-3"><button style="background:red" "font:white">Register</button></div>
  <p class="clearfix"></p>
  <p class="clearfix"></p>


    

    </form>
 </div>
   
  
   
 
</body>
</html> 