<!doctype html>
<html>
              <head>
                    <title> This is my first app</title>
              </head>
              <body>
                    <p>this is my first paragraph</p>
                    <p>my mobile is lumia 920</p>
                    <h1>head2</h1>
                    <h2>head2</h2>
                    <h3>head2</h3>
                    <h4>head2</h4>
                    <h5>head2</h5>
                    <h6>head2</h6>
                    
                    <span2>my mobile is lumia 920</span2>
               </body>