<!doctype html>
<html>
              <head>
                    <title> This is my second app</title>
              </head>
              <body>
                    <p>this is my second paragraph</p>
                    <p>my mobile is lumia 920</p>
                    <h1>head2</h1>
                    <h2>head2</h2>
                    <h3>head2</h3>
                    <h4>head2</h4>
                    <h5>head2</h5>
                    <h6>head2</h6>
                    <span>this is my first paragraph</span>
                    <br>
                    <span>my mobile is lumia 920</span>
                    <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1">google </a>
               </body>