<!doctype html>
<html>
                   <head>
                         <titke>div practice</title>
                   </head>
                   <body>
                         <div> div tag</div>
                         <div>div tag2</div>
                         <p>this is paragraph</p>
                         <p>same paragraph</p>
                         <img src="../pics/mahesh.jpg"/width="500px" height="250px">
                         <center><h1>MAHESH</h1></center>
                         <marquee><h1>MAHESH</h1></marquee>
                   <select>
                   	     <option>MALE</option>
                   	     <option>FEMALE</option>
                   </select>
                   <br>
                   <h3>Please text&nbsp&nbsp&nbsp&nbsp<textarea></textarea></h3>
                   <b>Intrested?<br> can type here</b><textarea></textarea><br>
                   <u><i><b>hi hello how r u</b></i></u>
                   <font size="10" color="blue"> this is how to fill color</font>
                   <q> this is Reddy</q>
                   <address>
                   	 name: Mahesh Reddy<br/>
                   	 phone: 98488288974<br/>
                   	 email: maheshinfo26@gmail.com
                   </address>
                   <progress value= "65" max= "100"></progress>
                   </body>
</html>