<!doctype html>
<html>
<head>
      <title>html table</title>
      <style type="text/css">
       form{
       	background-color: yellow;
       	text-align: center;
       	margin-left: 395px;
       	margin-right: 450px
       }         
      </style>
</head>
<body>
      <form >
          <u><h1>Registration Form</h1></u>
          <p>First Name:&nbsp; ;<input type="text"></p>
          <p>Last name :&nbsp; ;<input type="text"></p>
          <p>Age:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text"></p>
          <p>E-mail:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text"></p>
          <p>Password:&nbsp; &nbsp; &nbsp; &nbsp; <input type="text"></p>
          SEX::&nbsp; &nbsp; <input type="radio">Male
          <input type="radio">Female
          <br>
          <br>
          Checkbox:&nbsp; <input type="checkbox">&nbsp; I am a student&nbsp; 
          <input type="checkbox">&nbsp; I am a bussiness man
          <br>
          <br>
          Birthday:
          <br>
          <br>
          Day:&nbsp;  
           <select>
          	<option>1</option>
          	<option>2</option>
          </select>&nbsp; 
          Month:&nbsp; 
           <select>
           	<option>1</option>
          	<option>2</option>
           </select>&nbsp; 
           Year:&nbsp; 
           <select>
           	<option>1990</option>
          	<option>1991</option>
           </select>&nbsp; 
           <br>
           <br>
           <br>
           Submit Button:&nbsp; &nbsp; <input type="submit" >
           <br>
           <br>
           <br>
           Reset Button:&nbsp; &nbsp; &nbsp; &nbsp; <input type="reset">
           <br>
           <br>
           <br>
     </form>
</body>
</html>      