<!doctype html>
<html>
<head>
<title>new table</title>
<style type="text/css">
	.my{
		
	}
</style>
</head>
<body >
      <table class="my" cell padding="0" cell spacing="0" border="1">
            <th colspan="6">Time Table</th>            
            <tr><b>
            	<td rowspan="6">Hours</td>
            	<td>Mon</b>
            	<td>Tue</td>
            	<td>Wed</td>
            	<td>Thu</td>
            	<td>Fri</td></b>
            </tr>
            <tr>
            	<td>Science</td>
            	<td>Maths</td>
            	<td>Science</td>
            	<td>Maths</td>
            	<td>Arts</td>
            </tr>
            <tr>
            	<td>Social</td>
            	<td>History</td>
            	<td>English</td>
            	<td>Social</td>
            	<td>Sports</td>
            </tr>
            <th colspan="5">Lunch</th>
            <tr>
            	<td>Science</td>
            	<td>Maths</td>
            	<td>Science</td>
            	<td>Maths</td>
            	<td rowspan="2">Project</td>
            </tr>
            <tr>
            	<td>Social</td>
            	<td>History</td>
            	<td>English</td>
            	<td>Social</td>
            </tr>
      </table>
</body>
</html>      