<!doctype html>
<html>
<head>
       <title>table1</title>
</head>
<body>
	  <table cell padding="0" cell spacing="5" border="1">
	  <tr>
	  	<td>ID</td>
	  	<td>Device ID</td>
	  	<td>Date</td>
	  	<td>Comment</td>
	  </tr>
	  <th colspan="4">&nbsp</th>
	  <tr>
	  	<td>b</td>
	  	<td>00031</td>
	  	<td>09/05/01 10:05:00 am</td>
	  	<td>4</td>
	  </tr>
	  <tr>
	  	<td>a</td>
	  	<td>0016</td>
	  	<td>12/04/01 12:34:00 am</td>
	  	<td>3</td>
	  </tr>
	  <tr>
	  	<td>k</td>
	  	<td>00030</td>
	  	<td>11/09/01 12:14:00 pm</td>
	  	<td>1</td>
	  </tr>
	  <tr>
	  	<td>c</td>
	  	<td>00006</td>
	  	<td>11/11/01 12:15:00 pm</td>
	  	<td>2</td>
	  </tr>
</body>
</html>       