<!doctype html>
<hyml>
<head>
<title>simple2full</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<style type="text/css">
  .c1 li{
    display: inline-block;    
    background: #000;
    padding: 4px 20px;
    color: #fff;
    border-radius: 10px;
  }
</style>
</head>
<body>
   <div class="container">
<form class="bg-info">
      <p class="clearfix"></p>
         <p class="clearfix"></p>
         <div class="col-m-6">
        <div class="col-sm-3"><p style= "font-size:25px"><b>Simple #2</b></p></div>
         </div>
         <div class="text-right" "col-sm-5">

       <ul class="c1">

         <li>Home</li>
         <li>About us</li>
         <li>What we do</li>
         <li>The Term</li>
         <li>Contact us</li>
       </ul>
     </div>
     <p class="clearfix"></p>
     <p class="clearfix"></p>
</form>

<form>
     <div class="col-sm-3">
       <div class="col-sm-12 form-control" style="background:skyblue">Browsers</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">Anti=Malware</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">System-Tuning</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">Photo/Image</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">File Sharing</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">Security</div><P class="clearfix"></P>
       <div class="col-sm-12 form-control" style="background:skyblue">Compression</div><P class="clearfix"></P>
     </div>
     <div class="col-sm-9">
          
                     <div class="col-sm-12 form-control success" style="background:yellow"><b>Simple Template#2 from simpletemplates.org</b></div>
                  <div class="col-sm-3"><img src="../images/file.jpg"></div>
                  <div class="col-sm-9">
                          <div class="col-sm-12">
                             <p class="clearfix"></p>
                                  Bootstrap is a free and open-source collection of tools for creating websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. As of March 2015, it was the most-starred project on GitHub, with over 78,000 stars and more than 30,000 forks.</div>
                            <p class="clearfix"></p>
                            <p class="clearfix"></p>
                             <div class="col-sm-12">
                                   Bootstrap, originally named Twitter Blueprint, was developed by Mark Otto and Jacob Thornton at Twitter as a framework to encourage consistency across internal tools.
                              </div>
                     




                             <p class="clearfix"></p>
                             <p class="clearfix"></p>
                             <p class="clearfix"></p>
                             <p class="clearfix"></p>
                             <p class="clearfix"></p>

                     </div>


   


        <div class="col-sm-12 form-control" style="background:yellow"><b>License and Terms of Use</b></div>
                       <p class="clearfix"></p>
        <div class="col-sm-12">
                   Welcome to the network of software services provided by Well Known Media Ltd. Here are the ways that you can and can't use our website, we've tried to keep them brief and easy to understand.
        </div>

                         <p class="clearfix"></p>

        <div class="col-sm-12">
                    By using the information, services and products available through this site and downloading any software, you are agreeing to the terms and conditions contained herein.          
        </div>
                       <p class="clearfix"></p>
        <div class="col-sm-12">
                         If you are the publisher of a software title and wish to have it removed from FileHippo.com, please send us a message via our contact form including, your name, company, job title, the title of the software, and the reason for the takedown request. We will then contact you within 72 hours to verify your identity and your request will be actioned within a further 72 hours.
        </div>

     </div>
</form>
     

     <p class="clearfix"></p>
     <p class="clearfix"></p>



<form class="bg-info">
        <p class="clearfix"></p>
        <p class="clearfix"></p>
         copyright 2004-2015 Well known media  <span class="col-sm-offset-6">Design by Simple website templates</span>
         <p class="clearfix"></p>
          <p class="clearfix"></p>
</form>





   </div>
 
</body>
</html> 