<!doctype html>
<html ng-app="">
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<style type="text/css">

	</style>
</head>
<body>
	<div class="container">
		<form class="col-sm-offset-4 col-sm-4" >
			<div class="form-group">
				<label>User Name</label>
				<input type="text" class="form-control username" ng-model="username" placeholder="Please enter username">
			</div>
			Name: <span ng-bind="username"></span> 
		</form>
	</div>
	<script type="text/javascript" src="../javascript/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../javascript/angular.min.js"></script>
</body>
</html>