<!DOCTYPE html>
<html>
<head>
<title>HTML Training</title>
<style type="text/css">
address{
	position: absolute;
top: 253px;
left: 109px;
color: #fff;
font-size: 25px;
}
</style>
</head>
<body>
	<center><h1>UI-Training</h1></center>
	<div>div tag1</div>
	<div>div tag2</div>
	<img src="../images/google-logo-round-mousepads-6212-838.png" />
	<br/>
	<a href="https://www.google.co.in/webhp?hl=en" target="_blank">
		<img src="../images/google-logo-round-mousepads-6212-838.png" height="200" width="200" title="this is google logo"/>
	</a>
	<center>center tag</center>
	<p title="My Paragraph">thia is my paragraph with some text</p>
	<b>text bold &nbsp; &nbsp; &nbsp; &nbsp;</b>
	<i>this i tag &nbsp; &nbsp; &nbsp; &nbsp;</i>
	<u>under line</u>
	<font size="3" color="red">&nbsp; &nbsp; &nbsp; &nbsp; this is my font tag &nbsp; &nbsp; &nbsp; &nbsp;</font>
	<small> this is my small tag &copy;</small>
	<q> this is bujji</q>
	<address>
		name: bujjibabu<br/>
		phone: 9533068603 <br/>
		email :bujji404@gmail.com.
	</address>
	<progress value="80" max="100"></progress>
</body>
</html>