<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
		//var num = 128;
		//var x = num.toString(16);
		//var y = num.toString(8);
		//var z = num.toString(2);
		/*console.log(x);
		console.log(y);
		console.log(z);*/
		var num1 = 9.4567;
		//num1.toFixed(3);
		var string1 = '10'
		var string2 = '5';
		string1 = Number(string1);
		string2 = Number(string2);
		var num = string1+string2;
		var x =	parseInt('10.33');
		var y =	Number('10.33');
		/*console.log(x);
		console.log(y);
		console.log(num)
		console.log(num1.toFixed(2));*/
		var a = Math.random();
		console.log(a);
	</script>
</body>
</html>