<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
		var myString = 'This is bujji  balaga and bujji is doing good job';
		var x = myString.search("bujji");
		var y = myString.search(/bujji/i);
		var z = myString.replace(/bujji/i, 'Rao');
		var a = myString.replace(/bujji/g, 'Rao');
		/*console.log(x);
		console.log(y);
		console.log(a);*/
		var b = 'hellow\
		world';
		console.log(b);

	</script>
</body>
</html>