<!doctype html>
<html>
<head>
	<title>JS</title>
</head>
<body>
	<div>10+20</div>
	<!-- <div> this is my html div</div> -->

	<!-- /*<script type="text/javascript">
	<div></div>
	</script>*/-->
	<script type="text/javascript" src="../javascript/js1.js"></script>
	<script type="text/javascript">
	//data Types 

/*		numbers
		ex: 12,123.456, 50 etc..
		var num = 12;
		var num2 = 123.456;

		
		strings
			ex: 'bujji',"bujjibabu",'testing string' etc..

			var mysring = "testing my javascript";

        boolean
        ex: true or false

        var myflag = true;*/

      //  var myvarname;
      /* var myvarname = 321;
        document.write(myvarname);*/

       /*var a = 10;
       var b = 20;
       var c = a+b;
       document.write(c);*/

       var x = 5;
       var y ="5";
      // alert("this is x avlue: " + x);
       //alert("this is y avlue: ", y);
       console.log("this is y avlue: ", y)
       // document.write(x);
       // document.write(y);

      /* if(x<y){
       	alert('this is if condition');
       }else{
       	alert('this is else condition');
       }*/

       /*if(x===y){
       	alert('this is if condition');
       }else{
       	alert('this is else condition');
       }*/
       var a = false;
       var b = 0;
	if(a||b){
       	alert('this is if condition');
       }else{
       	alert('this is else condition');
       }

	</script>
</body>
</html>