<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
		var myArray = ['bujji','babu','rao','mahesh','ashok','raja'];
	/*	console.log(myArray.length);
		console.log(myArray[5]);
		myArray.sort();
		console.log(myArray);*/
	/*var myArray1 = [];
	myArray1[0]='bujji';
	myArray1[1]='babu';
	console.log(myArray1);*/
	//var myArray2 = ['bujji','babu','rao','mahesh','ashok','raja'];
	//console.log(myArray2);
	//var a = myArray2.toString();
	//console.log(a);

	var myArray2 = [];
		myArray2.push('bujji');
		myArray2.push('babu');
		myArray2.push('ashok');
		myArray2.push('kishore');
		myArray2.push('ram');
		myArray2.unshift('raja');
		//console.log(myArray2)
var myArray3 = ['bujji','babu','rao','mahesh','ashok','raja'];
	//console.log(myArray3);
	//myArray3.pop()
	//myArray3.shift()
	delete myArray3[4];
	//console.log(myArray3)
var myArray4 = ['bujji','babu','rao','mahesh','ashok','raja'];
//myArray4.sort();
//console.log(myArray4);
//myArray4.reverse();
//console.log(myArray4);

var myArray5 = ['bujji','babu','rao','mahesh','ashok','raja'];
console.log('original array',myArray5);
myArray5.splice(2,1);
console.log('after splicing ',myArray5);
	</script>
</body>
</html>