<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> this is my paragraph </p>
		<div class="btn btn-primary" onmouseover="fnTest()">onmouseover</div>
		<div class="btn btn-primary" onclick="fnTest()">onclick</div>
		<div class="btn btn-primary" onload="fnTest()">onload</div>
		<div class="btn btn-primary" onclick="fnTest1()">Another Click</div>
	</div>
	<script type="text/javascript">
	//var x = 'This is bujji';
	function fnTest(){
		x = 'Rao';
		alert(x);
	};
	//alert(y);
	function fnTest1(){
		alert(x);
	};
	</script>
</body>
</html>