<!doctype html>
<html>
<head>
	<title>JSON</title>
</head>
<body>
<script type="text/javascript">
//object
//array
var myObj = {name:'bujji',phone:9533068603,email:"bujji404@gmail.com",address:[{name:"babu"}]};
console.log(myObj.name + myObj.address[0].name);
console.log(myObj.email);
var myame = myObj['name'];
console.log(myame);
var myArray = [
{name:'bujji',phone:9533068603,email:"bujji4034@gmail.com"},
{name:'madfhu',phone:9533068603,email:"bujj3i404@gmail.com"},
{name:'koti',phone:9533068603,email:"bujji4404@gmail.com"}
];
//myArray.length
console.log(myArray.length);
var x = 10 + 3 + "4";
var y = 10+"3"+3+5;
var z = 2+4+"3"+3+4;
//6334
//6334
//10335
//var z = x+y; 1034
//134
//console.log(x);
//console.log(y);

</script>
</body>
</html>