<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> this is my paragraph </p>
		<div class="btn btn-primary" onmouseover="fnTest()">onmouseover</div>
<!-- 		<div class="btn btn-primary" onclick="fnTest()">onclick</div>
		<div class="btn btn-primary" onload="fnTest()">onload</div>
		<div class="btn btn-primary" onclick="fnTest1()">Another Click</div> -->
	</div>
	<script type="text/javascript">
		// String 
		var  x = 'Bujji babu';
		var y = 'please find the where find occures';
		var a  = 'Apple, Banana, kiwi';
		var z;
		function fnTest(){
			//alert(x.length);

			//alert(charAt(5));
			//z = y.indexOf('find');
			//z = y.lastIndexOf('find');
			//z = y.search('find');
			//z = a.slice(7,13);
			//z = a.slice(-12,-6);
			//z = a.slice(7);
			//z = a.substring(7,13);
			//substring(startingposition, endingposition)
			//substr(startingposition, lengthofextraxtedpart)
			//z = a.substr(7,9);
			var b = "this is innominds here innominds";
			var c = "this is honey well";
			var d ='apple';
			console.log(d);
			//z = d.charAt(4);
			//z = d.charCodeAt(0);
			z = d.split(',');
			console.log(z);
			//z = b.replace(/innominds/g,'Honeywell');
			//z = b.toUpperCase();
			//z = b.concat(' ',c);
				//alert(z);
		}
	</script>
</body>
</html>