<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
		var myArray = [1,10,5,4,100,3];

		//myArray.sort(function(a,b){return a-b;}); //sorting number array
		 myArray.sort(function(a,b){return b-a;}); //
		//a=1 b=10
		//1-10 = -9
		//1-5 = -4

       //" ", '', undefined, NaN, null,

		console.log(myArray);
	</script>
</body>
</html>