<!Doctype html>
<html>
<head>
<title>CSS</title>
<style type="text/css">
	.div1{
		background: green;
		color:#fff;
		border:1px solid red;
	}
	.div1a{
		background: red;
		color:#fff;
		border:1px solid blue;
	}
	.div1b{
		background: blue;
		color:#fff;
		border:1px solid green;
	}
</style>
</head>
<body>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
<div class="div1">
	div1
	<div class="div1a">div1a</div>
	<div class="div1b">div1b</div>
	<div class="div1c">div1c</div>
</div>
</body>
</html>