<!doctype html>
<html>
<head>
<title>CSS</title>
<STYLE TYPE="text/css">
.buttonclass{
		height:100px;
		width:300px;
		border: 1px solid brown;
		text-align: center;
		padding:50px 0px 20px 0px;
		font-size: 30px;
		opacity: 0.6;
		border-radius: 10px; 
		background:green;
		margin-top:5px;
		text-shadow:2px 2px #ff0000;
		text-transform: lowercase;
		border-right:2px solid blue;
		border-bottom:2px dotted orange;
		border-left:2px dashed orange;

}

</style>
</head>
<body>
<div class="buttonclass"><b>This Is Pratice Button
</b></div>
</body>
</html>