<!Doctype html>
<html>
<head>
<title>CSS</title>
<style type="text/css">
.form1{
	background-color:#99B265;
	width:400px;
}
.row1{
	width:320px;
	background: #757547;
	padding:8px;
	border-radius: 6px;
	margin-bottom: 5px;
}
.step1,.step2,.step3
{
	text-align: left;
	padding-left: 20px;
	margin-bottom: 4px;

}
.buttonclass{
	text-align: center;
	border-radius: 10px;
	background: #194719;
}
.cardtype
{
	margin-bottom: 4px;

}
</style>
</head>
<body>
<center>	
<div class="form1">
<div class="step1"><b>Step 1: Your Details<b></div><br>
<div class="row1">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="First and last name"/></div>
<div class="row1">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="example@domain.com"/></div>
<div class="row1">Phone&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="Eg.-+18127748943"/></div>
<div class="step2"><b> Step 2: Delivery Address </b></div>
<div class="row1">Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea></textarea></div>
<div class="row1">Postcode&nbsp;&nbsp;&nbsp;<input ></div>
<div class="row1">Country&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input ></div>
<div class="step3">Step 3: Card Details</div>
<div class="cardtype"><b>Card type</b>
	<input type="radio"><img src="../images/visa.jpg"height="12px" width="12px">visa
	<input type="radio"><img src="../images/amex.png"height="12px" width="12px">Amex
	<input type="radio"><img src="../images/master.jpg"height="12px" width="12px">Mastercard
</div>
	<div class="row1">Card number&nbsp;&nbsp;<input ></div>
	<div class="row1"> Security code&nbsp;&nbsp;<input></div>
	<div class="row1">Name on card&nbsp;&nbsp;<input placeholder="Exact name on the card"/></div>
	<div class="divclass"><br>
<button class="buttonclass"><b>BUY IT!</b></button></div>
</div>
</center>

</body>

</html>