<!docType html>
<html>
<head>
<title> HTML </title>
</head>
<body>
	<table border="1" width-"100">
		<tr>
			<td><b>ID</b></td>
			<td><b>DeviceID</b></td>
			<td><font color="blue"><b><Center>Date</Center></b></font></td>
			<td><b>Comment</b></td>
		</tr>
		<th colspan="4">&nbsp;&nbsp;</th>
		<tr>
			<td>b</td>
			<td>0031</td>
			<td><time datetime="2001-05-09T10:05:00+10:00">09/05/01 10:05:00 am</time></td>
			<td>4</td>
		</tr>
		<tr>
			<td>a</td>
			<td>0016</td>
			<td><time datetime="2001-16-10T08:14:00+10:00">10/16/01 08:14:00 am</time></td>
			<td>3</td>
		</tr>
		<tr>
			<td>k</td>
			<td>0030</td>
			<td><time datetime="2001-09-11T12:14:00+10:00">11/09/01 12:14:00 pm</time></td>
			<td>1</td>
		</tr>
		<tr>
			<td>c</td>
			<td>0006</td>
			<td><time datetime="2001-11-11T12:15:00+10:00">11/11/01 12:15:00 pm</time></td>
			<td>2</td>
		</tr>
		</table>
	</body>
</html>
