<!docType html>
<html>
<head>
<title> form </title>
</head>
<style type="text/css">
.registrationform{
	background: purple;
	padding-left: 440px;

}
.sexclass{
	background:purple;
	padding-left:520px;
}
.checkboxclass{
	background:purple;
	padding-left:400px;
}
.birthclass{background:purple;
	padding-left:540px;
}
.dateclass{
	background:purple;
	padding-left:440px;
}
.Buttonclass{
	background:purple;
	padding-left:460px;

}
</style>
<body>
<form class="registrationform">
<h1><u>Registration Form</u></h1>

First name:<input type="text">
<br><br>
	Last name:<input type="text">
<br><br>

	Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br>

<div>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" required></div><br><br>
<div>Password:&nbsp;&nbsp;<input type="passwd" required></div><br><br>
</form>
<form class="sexclass">
<div >SEX::<input type="radio" name="gen"> Male
<input type="radio" name="gen"> female
</div><br><br>
</form>

<form class="checkboxclass">
	<div >
	Checkbox:<input type="checkbox">
	I am a student
	Checkbox:<input type="checkbox">
	I am a business man
</div><br><br>
</form>
<form class="birthclass">
<div>Birth Day: </div><br><br>
</form>
<form class="dateclass">
<div>
	Day:&nbsp;<select><option>1</option></select>&nbsp;Month:&nbsp;<select><option>1</option></select>&nbsp;Year:&nbsp;<select><option>1990</option></select>
</div><br><br>
</form>
<form class="Buttonclass">
<div>
	Submit Button: <input type="button" value="Submit"/><br><br>
</div>
<div>
	Reset Button: <input type="button" value="reset"/>
</div><br><br>
</form>

</body>

</html>