<!doctype html>
<html>
<head>
	<title>JS</title>

</head>
<body>
	<script type="text/javascript">
	/*var myvarname = 321;
        document.write(myvarname);*/

/*
       var a = 10;
       var b = 20;
       var c = a+b;
       document.write(c);
*/
       var x = 5;

       alert("this is x avlue: " + x);
       var y ="5";
       //alert("this is y avlue: " +y);
      // console.log("this is y avlue: ", +y)

//       document.write(x);
  //     document.write(y);

    </script>
</body>
</html>