<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
	//var x = 128;
	//var y = x.toString(16);
	//var y = x.toString(8);
	//var y = x.toString(2);
	//var num1 = 9.4567;
	/*var string1 = '10';
	var string2 = '5';
	string1 = Number(string1);
	string2 = Number(string2);
	var num = string1+string2;
	console.log(num);*/
	/*var x = parseInt('10.655');
	console.log(x);*/

	

	//y = num1.toFixed(3);
	//console.log(y);
	</script>
</body>
</html>