<!doctype html>
<html>
<head>
	<title>JSON</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>
	<div class="container">
		<p class="text-center"> Objects And Arrays </p>
	</div>
	<script type="text/javascript">
	/*var myArray=['rao','mahesh','thivikram','sukesh','rakesh'];

	console.log(myArray[4]);
	//myArray.sort();
	//console.log(myArray);
	var str = myArray.toString();
	console.log(str);

	//console.log(myArray);
	console.log(myArray.length);*/

	/*var myArray2 =[];
	myArray2.push('Rao');
	myArray2.push('Surya');
	myArray2.push('sukesh');
	//myArray2.push('Ram');
	

	myArray2.unshift('Ram');
	console.log(myArray2);*/

	var myArray3 = ['bujji','babu','rao','mahesh','ashok','raja'];

	//myArray3.reverse();
	//myArray3.pop();
	//myArray3.shift();
	myArray3.splice(2,2);
	console.log(myArray3);


	</script>
</body>
</html>