<!docType html>
<html>
<head>
<title> form </title>
</head>
<style type="text/css">
.formclas
{
	background-color: orange;
	text-align:center;
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 200px
}	
.spanclas{
	font-size: 50px;
	border-width: 40px;
}

</style>	
<form class="formclas">
<body>
	<span class="spancls">
		<input type="button" value="Log In"></span>
	<span class="signupclass">
		<input type="button" value="Sign Up!"></span>
    <br><br>
	
		Email: <input type= "email" required><br><br>
		Password: <input type="passwd" required><br><br>
		<input type="checkbox"> Remember Me <input type="button" value="Log In"><br><br>
		<div>Forgot Your password</div>
	</form>
	
</body>
</html>