<!doctype html>
<!doctype html>
<html>
<head>
<title>Webpage Design Using boot strap CSS</title>
<link rel="stylesheet" href="../css/bootstrap.css">
<style type="text/css">
.main{
	background: #003366;
	padding:25px 50px;
}
.header{
	border:1px solid #5C5CE6;
	border-radius:8px;
}
.ftr{
	background: white;
	border:1px solid white;
}
.h2{
font-size:100px;
line-height: 1;
color: white;
}
.li{
	color:#BD9D7D;
	border-bottom: dotted #E0A366;
	padding:6px;

}

.down{
	background:#663300;
	color:white;
	text-align: center;
	padding-bottom: 15px;

}
</style>
</head>
<body>
	<div class="main col-sm-12">
	<div class="header">	
	<div class="row-fluid clearfix h2">
		<div class="col-sm-2 ">
			<img src="../images/computer.png"  class="img-responsive img-rounded">
		</div>
		<div class=" col-sm-offset-1 col-sm-6">My Website!</div>
		</div>
		
		<div class="ftr col-sm-12">

		<div class="col-sm-3">
			<div class="li">Home</div>
			<div class="li">About</div>
			<div class="li">Interesting Things</div>	
			<div class="li">Boring Things</div>
			<div class="li">Contacts</div>
			<p class="clearfix"></p><p class="clearfix"></p>
			<p>You dont need to be a genius to understand web technology, its simply a matter of understanding a few basic concepts Many businesses are forced to recruit web designers and programmers without really knowing what they want. They may know that they need someone to configure their server, but they may not know what the server does or what configuring it actually entails.
			</p>	

		</div>
		<div class="col-sm-9">

			<p class="clearfix"></p><p class="clearfix"></p><p class="clearfix"></p>
			<div>
			<h1>What is webtechnology</h1>
		</div>
		<p class="clearfix"></p>
		<div>
			<p>You dont need to be a genius to understand web technology, its simply a matter of understanding a few basic concepts Many businesses are forced to recruit web designers and programmers without really knowing what they want.They may know that they need someone to configure their server, but they may not know what the server does or what configuring it actually entails.In order to ensure you are getting the right calibre of staff, you need to have at least a basic grasp of the subject. This solution will attempt to give you a basic understanding of various aspects of web publishing languages such as HTML, ASP, JavaScript, CGI and server configuration.
			</p>
			<p class="clearfix"></p>
			<p>To view the Internet most people use a browser, your browser window is probably where you are viewing this page. There are many different browsers: the two most popular being Netscape Navigator and Microsoft Internet Explorer. Web browsers work by connecting over the Internet via modem or ISDN via a server or ISP to remote machines, asking for a particular document (or page) and then formatting the documents they receive for viewing on a computer.To do this, web browsers use a special language called HTTP (HyperText Transfer Protocol).The remote machines containing the documents run HTTP servers. When an HTTP server receives a request for a page, it sends it back to the local computer for viewing through the browser.</p>

		</div>	
	</div>
</div>

<div class="down"><p class="clearfix"></p>&copy;&nbsp;Foobar Inc.

</div>
</div>	
</body>
</html>