<!docType html>
<html>
<head>
<title> HTML </title>
</head>
<body>
	<table border="1" width-"100" cellspacing="0" >
		<tr>
			<td><b style="background:blue;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
			<td><b style="background:blue;color:white;"/>Error Summary</b></td>
			<td><b style="background:blue;color:white;"/>Error Date</b></td>
			<td><b style="background:blue;color:white;"/>FailedXML</b></td>
		</tr>
		<tr>
			<td><input type="checkbox" /></td>
			<td>Java lang Null Pointer Exception <input type="checkbox" /></td>
			<td><time datetime="2008-15-02T15:23:00+10:00">02/15/2008 15:23</time></td>
			<td><font Color="Green"><u> View & Edit</u></font></td>
		</tr>
		<tr>
			<td><input type="checkbox" /></td>
			<td>Error Retrieving Agent Information </td>
			<td><time datetime="2008-14-02T07:01:00+10:00">02/14/2008 07:01</time><input type="checkbox"  Checked/></td>
			<td><font Color="Green"><u> View & Edit</u></font></td>
		</tr>
		<tr>
			<td><input type="checkbox" /></td>
			<td>Error Occured when retrieving agent information </td>
			<td><time datetime="2008-14-02T07:01:00+10:00">02/14/2008 07:01</time></td>
			<td><font Color="Green"><u> View & Edit</u></font></td>
		</tr>
		<tr>
			<td><input type="checkbox" /></td>
			<td>Error Retrieving Agent Information</td>
			<td><time datetime="2008-13-02T23:11:00+10:00">02/13/2008 23:11</time></td>
			<td><input type="checkbox" /><font Color="Green"><u> View & Edit</u></font></td>
		</tr>
		<tr>
			<td><input type="checkbox"  Checked/></td>
			<td>Error retrieving agent information </td>
			<td><time datetime="2008-13-02T23:11:00+10:00">02/13/2008 23:11</time</td>
			<td><input type="checkbox" /><font Color="Green"><u> View & Edit</u></font></td>
		</tr>
		

	</table>
</body>
</html>