<!docType html>
<html>
<head>
<title> HTML </title>
</head>
<body>
	<table border="1" width-"100" cellspacing="0" >
		<th colspan="6"><b>Time Table</b></th>
		<tr>
			<th rowspan="6"><b>Hours</b></th>
			<td><b>Mon</b></td>
			<td><b>Tue</b></td>
			<td><b>Wed</b></td>
			<td><b>Thu</b></td>
			<td><b>Fri</b></td>
		</tr>
		<tr>
			<td>Science</td>
			<td>Maths</td>
			<td>Science</td>
			<td>Maths</td>
			<td>Arts</td>
		</tr>
		<tr>
			<td>Social</td>
			<td>History</td>
			<td>English</td>
			<td>Social</td>
			<td>Sports</td>
		</tr>
		<th colspan="6"><b>Lunch</b></th>
		<tr>
			<td>Science</td>
			<td>Maths</td>
			<td>Science</td>
			<td>Maths</td>
		<th rowspan="2">Project</th>
		</tr>
		<tr>
			<td>Social</td>
			<td>History</td>
			<td>English</td>
			<td>Social</td>
		</tr>
	</table>
</body>
</html>