<div class="col-sm-12 bag-middle">  

		  <div class="col-sm-6">
			  <div class="col-sm-offset-4">
			  <br>
			  
			  <div><h2>Connect with friends and the world around you on Facebook.<h2></div>
			  </br>
			  <div><img src="images/photos-updates.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>See photos and updates</b>&nbsp;&nbsp;&nbsp;&nbsp;from friends in News Feed.</div>
			  </br>
			  </br>
              <div><img src="images/share.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Share what's new</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in your life on your Timeline.</div>
              </br>
              </br>
			  <div><img src="images/find.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Find more</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of what you're looking for with Graph Search.</div>

			  </div>
		  </div>
		 

		 <div class="col-sm-6"> 
		   <div class="col-sm-offset-1">
		   <div><h1>Sign  Up</h1></div>	
		   <div>It's free and always will be.</div>	<br>
		   <div class="col-sm-12">
		           <form class="form-inline">
		                      <div class="form-group"><input type="text" class="form-control" placeholder="First name"></div>
		                      <div class="form-group"><input type="text" class="form-control" placeholder="Last name"></div>
		                      </form><br>
		            <form class="form-group col-sm-10 emailform">
		                      <div><input type="text" class="form-control" placeholder="Email or mobile number"></div><br>
		                      <div><input type="text" class="form-control" placeholder="Re-enter email or mobile number"></div><br>
		                      <div><input type="text" class="form-control" placeholder="New password"></div>
		                      <h4>Birthday</h4>
		                      <div class="col-sm-7">		                      
		                      	<select>
		                      		<option>Month</option>
		                      		<option>Jan</option>
		                      		<option>Feb</option>
		                      		<option>Mar</option>
		                      	</select>
		                      	<select>
		                      		<option>Day</option>
		                            <option>1</option>
		                            <option>2</option>
		                            <option>3</option>
		                      	</select>
		                      	<select>
		                      		<option>Year</option>
		                      		<option>2000</option>
		                      		<option>2001</option>
		                      		<option>2002</option>
		                      	</select>    	
		                      </div>
		                      <div class="col-sm-5 whydoposition"><h6>Why do i need to provide my birthday?</h6></div>
		                      <input type="radio">&nbsp;&nbsp;&nbsp;<label>Female</label>&nbsp;&nbsp;<input type="radio">&nbsp;&nbsp;&nbsp;<label>Male</label>
		                      <br>		            
		                      <h6>By clicking Sign Up, you agree to our Terms and that you have read our Data Policy, including our Cookie Use.</h6>
		                      </br>
		                      <div ><button type="button" class="btn btn-success btn-lg butonsize">Sign Up</button></div>
		                      </br>
		                      <h5 class="border-for-line">Create a page for a celebrity, band or business.</h5>
		              </form>
		    </div> 
		   </div>	   
		

		 </div>
</div>