<div class="bb-header clearfix" >
	<div class="bb-header-social-icons-div">
		<i class="fa fa-google-plus-square fa-1x bb-google-plus-square"></i>
		<i class="fa fa-facebook-square fa-1x bb-facebook-icon"></i>
		<i class="fa fa-twitter fa-1x bb-twitter"></i>
		<i class="fa fa-youtube-square fa-1x bb-youtube-square"></i>
	</div>
	<div class="bb-header-section-2">
		<div class="text-center"><img src="images/Web-header-try4.png"></div>
	</div>
	<div class="bb-header-menu-items">
		<ul class="text-center">
	      <li class="active"><a ng-href="#">HOME</a></li>
	      <li><a ng-href="#">NEWS</a></li>
	      <li><a ng-href="#/about">STORY FEED</a></li>
	      <li><a ng-href="#/about">MY STORY</a></li>
	      <li><a ng-href="#/about">SUBMIT</a></li>
	      <li><a ng-href="#">EVENTS</a></li>
	      <li><a ng-href="#">CONTACT US</a></li>
	    </ul>
	</div>
</div>
