<!docType html>
<html>
<head>
<title> HTML </title>
</head>
<body>
	<marquee><h1>UI-Training</h1></marquee>
	<center><h1>Input Tags</h1></center>
	<form>
		UserName:<input type="text" placeholder="UserName"/>
		Password:<input type="password" placeholder="Please enter password"/>
		<input type="button" value="login"/>
		<button>sign in</button>
	</form>
	<input type="checkbox">
	<input type="checkbox" checked>
	<input type="radio" name="gen" checked> male
	<input type="radio" name="gen"> Female
	<select>
		<option>stste1</option>
		<option>stste2</option>
		<option>stste3</option>
		<option>stste4</option>
	</select>
	<textarea></textarea>
	<h4>form</h4>
	<form>
		<input type="number" value="5" step="10" required>
		<input type="phone" required>
		<input type="date" required >
		<input type="month" required >
		<input type="time" required >
		<input type="email" required>
		<input type="color" required>
		<input type="range" value="80" required>
		<input type="submit" value="signUp">
	</form>
	<input type="text" list="sample">
	<datalist id="sample">
    	<option value="attribute">
    	<option value="appl">
    	<option value="area">
	 	<option value="bold">
	  	<option value="cource">
	  	<option value="data">
	  	<option value="element">
	</datalist>
</body>
</html>