<!doctype html>
<html>
<head>
<title>CSS</title>
<style type="text/css">
body{
	background: url('../images/back.jpg');
	/*background-repeat: no-repeat;*/
	/*background-repeat: repeat-x;*/
	/*background-repeat: repeat-y;*/
	background-repeat: repeat;
}
.myloginform{
	text-align: center;
	border:5px solid red;
	width:35%;
	margin-left:30%;
	background: white;
	margin-top:15%;
	opacity: 0.6;
	border-radius: 40px;
}
input{
	border-radius: 7px;
}
.signcls{
	background: brown;
}
</style>
</head>
<body>
	<form class="myloginform">
		<h2>SignIn Form</h2>
		<div class="usernamecls">
		UserName : <input type="text" placeholder="UserName"/>
		</div>
		<br/>
		<div class="passwordcls">
		Password : &nbsp; <input type="password" placeholder="Password"/>
		</div>
		<br/>
		<div>
			 <input type="button" class="signcls" value="Sign In"/>
		</div>
		<br/>
	</form>
</body>
</html>