<!docType html>
<html>
<head>
<title> HTML </title>
</head>
<body>
<!-- <center><h2>Tables</h2></center> -->
<center><h2>Tables</h2></center>
	<table border="5" width="100%">
		<tr>
			<td><b>head1</b></td>
			<td><b>head2</b></td>
			<td><b>head3</b></td>
			<td><b>head4</b></td>
		</tr>
		<tr>
			<td>head1</td>
			<td>head2</td>
			<td>head3</td>
			<td>head4</td>
		</tr>
		<tr>
			<td>head1</td>
			<td>head2</td>
			<td>head3</td>
			<td>head4</td>
		</tr>
	</table>
	<br/>
	<table border="5" width="100%" cellpadding="10" cellspacing="5">
		<thead>
			<tr>
				<th>head1</th>
				<th>head2</th>
				<th>head3</th>
				<th>head4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<td>head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
		</tbody>
	</table>
<br/>
	<table border="5" width="100%" cellspacing="0">
		<thead>
			<tr>
				<!-- <th>head1</th>
				<th>head2</th> -->
				<th colspan="4">head</th>
				<!-- <th>head3</th>
				<th>head4</th> -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="3">head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<!-- <td>head1</td> -->
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<!-- <td>head1</td> -->
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<td>head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<td>head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>
			<tr>
				<td>head1</td>
				<td>head2</td>
				<td>head3</td>
				<td>head4</td>
			</tr>

		</tbody>
	</table>
	<center><h3>List items</h3></center>
	<ul>
		<li>list item1</li>
		<li>list item2</li>
		<li>list item3</li>
		<li>list item4</li>
		<li>list item5</li>
	</ul>
	<ol>
		<li>list item1</li>
		<li>list item2</li>
		<li>list item3</li>
		<li>list item4</li>
		<li>list item5</li>
	</ol>
</body>
</html>