.bg-header{
   background:#3A5795;
 padding: 0px ;

		 .fb-name-color{
		                color:#FFFFFF;
		                  font-size: 54px;
                          position: relative;
                          top: 18px;
                          left: 46px;
                          cursor: pointer;
		  
			             }
		.email-div-text-color{
		                       color:#FFFFFF;
		                     }
		.checkbox-div-text-color{
							  color: #9DA4BB;

							   position: relative;
                                bottom: 12px

								}
		.password-div-text-color{
								color: #FFFFFF;
								}
		.forgot-div-text-color{
								color: #9DA4BB;
								position: relative;
                                bottom: 8px
								}
								.login-btn{
								background: #5c74a9;
                                color: #FFFFFF;
								}
}